* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #020202;
}

body {
    background: #f0f0f0;
}

#main-div {
    width: 1050px;
    height: 570px;
    margin: 50px auto;
    background-image: url('img/faded-office.png');
    text-align: left;
    padding: 75px;
    border: 3px solid #020202;
    background-size: cover;
}

#title {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
}

#subtitle {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 40px;
}

#underline {
    border-bottom: 6px solid #0ea5e9;
}

#btn {
    background: #0ea5e9;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 50px;
}